.AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('https://media.giphy.com/media/3o6fJ1UDfEBc9BcPss/giphy.gif');
  background-size: cover;
  border-radius: 2vmin;
}

.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: red;
  cursor: pointer;
}

.AuthPage h3:hover {
  color: yellowgreen;
}
