.CategoryList {
  color: var(--text-light);
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
}

.CategoryList li {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
}
    
.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: green;
  color: red;
}

.CategoryList li.active {
  color: yellowgreen;
  background-color: red;
  border: .1vmin solid;
  border-color: green;
}